@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap");

:root {
  --background: #ffe4dd;
  --imagefilter: #ffe4dd;
  --text: #6c0ed4;
  --links: #6c0ed4;
  --ascii: #6c0ed4;
}
